<template>
<div>
<div class="container" style="margin-top:100px;">
        <div class="row">
        <div class="col-sm-3">
            <h5>StoneGTM</h5>
            <p class="text-muted">บริษัทรับทำเว็บไซต์ ท่านสามารถสอบถามรายละเอียดหรือถ้าสนใจทำเว็บไซต์ก็สามารถทำให้ได้</p>
        </div>
        <div class="col-sm-3">
            <h5>Link</h5>
            <nuxt-link to="/"><span class="text-muted">หน้าแรก</span> </nuxt-link>
            <br>
            <nuxt-link to="/store"><span class="text-muted">สินค้า</span> </nuxt-link>
        </div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-3">
            
        </div>
        
    </div>
    </div>
    
   <div style="display:flex;justify-content:center;margin-top:20px;">
       <h5>Copyright 2021</h5>
   </div>
</div>
</template>