<template>
    <div>joker
        <testPic></testPic>
    {{ $route.params.id }}
        <v-alert v-if="name !== ''"
            border="top"
            color="red lighten-2"
            dark
            >
            {{ name }}
        </v-alert>
         <v-alert v-if="!name"
            border="top"
            color="green lighten-2"
            dark
            >
            {{ name }}
        </v-alert>
    <div>
        <ul>
            <li v-for="(item,i) in joker" :key="item">{{i+1}} {{item}}</li>
        </ul>
    </div>
    <v-btn @click="lastname">switch</v-btn>
    </div>
</template>
<script>
import testPic from '~/components/picturetest'
export default {
    layout:'ammor',
    components: {
        testPic
    },
    data() {
        return {
            name:"",
            joker:[]
        }
    },
    created() {
          this.joker = [',kmkmm','.;.;.fasf']
    },
    methods: {
        lastname(){
            this.name = 'string'
            this.joker = ['hancock','batman']
        }
    },
}
</script>