<template>
  <v-app>
    <div class="red">
      
      <style>
            #sidebar{
              display:none;

              }
          @media(max-width: 418px){
              #sidebar{
              display:block;
              }
              #navbar{
              display:none;

              }
          }
      </style>
      <v-container class="conatiner">
        <v-btn id="sidebar" @click="drawer = true">Open</v-btn>
        <v-tabs id="navbar"
          background-color="transparent"
          next-icon="mdi-arrow-right-bold-box-outline"
          prev-icon="mdi-arrow-left-bold-box-outline"
          show-arrow
        >
          <v-tabs-slider color="dark"></v-tabs-slider>

          <v-tab to="/">หน้าแรก</v-tab>
          <v-tab to="/store">สินค้า</v-tab>
        </v-tabs>
      </v-container>
    </div>
    <div></div>
    <nuxt />

    <v-navigation-drawer v-model="drawer" absolute left temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-title>Foo</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Bar</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Fizz</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Buzz</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
     
    <TheFooter />

  </v-app>
</template>

<script>
import TheFooter from '~/components/footer'
export default {
  components: {TheFooter},
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
<style>
    .conatiner{
        max-width: 1148px;
    }
</style>