<template>
  <div class="container">
    <div style="display: flex; justify-content: center">
      <h5>Welcome to website create by Nuxt.js</h5>
      <br />
    </div>
    <v-carousel v-model="model">
      <v-carousel-item v-for="(color, i) in colors" :key="color">
        <v-sheet :color="color" height="100%" tile>
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-3">Slide {{ i + 1 }}</div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>

    <div>
      <h3 style="text-align: center">บทความ</h3>
    </div>
    <div class="row">
    <div class="col-sm-4">
      <v-card class="mx-auto" max-width="344">
        <v-img
          src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          height="200px"
        ></v-img>

        <v-card-title> Top western road trips </v-card-title>

        <v-card-subtitle> 1,000 miles of wonder </v-card-subtitle>

        <v-card-actions>
          <v-btn color="orange lighten-2" text> Explore </v-btn>

          <v-spacer></v-spacer>

          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <v-card-text>
              I'm a thing. But, like most politicians, he promised more than he
              could deliver. You won't have time for sleeping, soldier, not with
              all the bed making you'll be doing. Then we'll go with that data
              file! Hey, you add a one and two zeros to that or we walk! You're
              going to do his laundry? I've got to find a way to escape.
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </div>
        <div class="col-sm-4">
      <v-card class="mx-auto" max-width="344">
        <v-img
          src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          height="200px"
        ></v-img>

        <v-card-title> Top western road trips </v-card-title>

        <v-card-subtitle> 1,000 miles of wonder </v-card-subtitle>

        <v-card-actions>
          <v-btn color="orange lighten-2" text> Explore </v-btn>

          <v-spacer></v-spacer>

          <v-btn icon @click="show2 = !show2">
            <v-icon>{{ show2 ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="show2">
            <v-divider></v-divider>
            <v-card-text>
              I'm a thing. But, like most politicians, he promised more than he
              could deliver. You won't have time for sleeping, soldier, not with
              all the bed making you'll be doing. Then we'll go with that data
              file! Hey, you add a one and two zeros to that or we walk! You're
              going to do his laundry? I've got to find a way to escape.
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </div>    <div class="col-sm-4">
      <v-card class="mx-auto" max-width="344">
        <v-img
          src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          height="200px"
        ></v-img>

        <v-card-title> Top western road trips </v-card-title>

        <v-card-subtitle> 1,000 miles of wonder </v-card-subtitle>

        <v-card-actions>
          <v-btn color="orange lighten-2" text> Explore </v-btn>

          <v-spacer></v-spacer>

          <v-btn icon @click="show3 = !show3">
            <v-icon>{{ show3 ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="show3">
            <v-divider></v-divider>
            <v-card-text>
              I'm a thing. But, like most politicians, he promised more than he
              could deliver. You won't have time for sleeping, soldier, not with
              all the bed making you'll be doing. Then we'll go with that data
              file! Hey, you add a one and two zeros to that or we walk! You're
              going to do his laundry? I've got to find a way to escape.
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </div>

    </div>


    
      <div class="row">
        <div class="col-sm-6">
          <img src="~/assets/image/vue_pic.png" width="100%"></img>
        </div>
        <div class="col-sm-6" >
          <h5 class="mt-4" style="text-align:center">Content news</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit rerum dolorem quos 
            doloribus id aspernatur fugiat beatae. Quasi dicta commodi laudantium consectetur 
            sit a? Eligendi impedit sint molestiae exercitationem vel!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit rerum dolorem quos 
            doloribus id aspernatur fugiat beatae. Quasi dicta commodi laudantium consectetur 
            sit a? Eligendi impedit sint molestiae exercitationem vel!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit rerum dolorem quos 
            doloribus id aspernatur fugiat beatae. Quasi dicta commodi laudantium consectetur 
            sit a? Eligendi impedit sint molestiae exercitationem vel!</p>
        </div>
      </div>
  </div>
</template>

<style>
.container {
  max-width: 1148px;
}
</style>
<script>
export default {
  layout: "menu",
  data() {
    return {
      show: false,
      show2: false,
      show3: false,
      model:null,
      colors: ["primary", "secondary", "yellow darken-2", "red", "orange"],
    };
  },
  methods: {
    async api_test(){
      const htmltest = await this.$axios.get('/ghost/api/v3/content/posts/?key=3a349c7d4f226ea9288a478f6f')
      //         const nasa = await this.$axios.get('/planetary/apod?api_key=UWwjIrksawd1a4owYUxVLTYr1qa1W0h4a6kVLdXu')
      console.log(htmltest)
    }
  },created() {
    this.api_test()
  },
};
</script>
